##Dictionary
- 영어 사전과 같은 형태
 - 단어: 뜻
 - 키: 값
 - 순서가 없음 => 인덱싱 불가능
 - "키"로 값을 찾는다.
   - 키는 중복되지 않는 고유한 값
 - 가변타입 -> 수정, 삭제, 추가 가능
 - 타입: dict
 - 형변환: 'dict()'
 - 중괄호 사용 {}, 콤마로 구분함
 - 값에 다양한 자료구조가 올 수 있음
  - ex) a:1, a:[1, 2, 3, 4]

In [ ]:
empty = dict()
empty = {}
#set 도 {}사용
empty = {} #dict
empty = set() #set
type(empty)

set

In [ ]:
a = {1, 2, 3} #set
a = {1:'apple', 2:'banana', 3: 'kiwi'} #dict

In [ ]:
a

{1: 'apple', 2: 'banana', 3: 'kiwi'}

In [ ]:
b = {'':'', '':'', '':''}
b = dict(apple='a', banana='b', kiwi='c') #dict로 키값의 ''생략 가능
b

{'apple': 'a', 'banana': 'b', 'kiwi': 'c'}

In [ ]:
#출석부 만들기
attendence = {'202201':['james', '경제학과'], '202203':['laura', '스페인어과'], '202202':['louis', '컴공과']}

In [ ]:
attendence #중복될 수 있는 이름, 학과보다는 학번으로 키 설정

{'202201': ['james', '경제학과'],
 '202202': ['louis', '컴공과'],
 '202203': ['laura', '스페인어과']}

###형 변환

In [ ]:
ex1 = [[1, 2], [2, 3], [3, 4]] #리스트
dict(ex1)

{1: 2, 2: 3, 3: 4}

In [ ]:
ex2 = [(1, 2), (2, 3), (1, 3)] #튜플, 키 중복x
dict(ex2)

{1: 3, 2: 3}

In [ ]:
ex3 = ['ab', 'ba', 'cd'] #문자열 두자리 까지는 가능
dict(ex3)

{'a': 'b', 'b': 'a', 'c': 'd'}

###항목 조회&변경

In [ ]:
pythons = {
    'Champman': 'Graham',
    'Cleese': 'John',
    'Idle': 'Eric',
    'Jones': 'Terry',
    'Palin': 'Michael'
}

In [ ]:
pythons['Idle']

'Eric'

In [ ]:
#추가
pythons['Hwa'] = 'Chloe'

In [ ]:
pythons

{'Champman': 'Graham',
 'Cleese': 'John',
 'Hwa': 'Chloe',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael'}

In [ ]:
'Hwa' in pythons

True

In [ ]:
#변경
pythons['Idle'] = 'James'

In [ ]:
#get()
pythons.get('Lee', 0) #없는 키는 None 변환

0

### 전체 조회
- keys()
- values()
- items()

In [ ]:
pythons.keys() #키

dict_keys(['Champman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa'])

In [ ]:
pythons.values() #값

dict_values(['Graham', 'John', 'James', 'Terry', 'Michael', 'Chloe'])

In [ ]:
pythons.items() #(키, 값) 튜플로 => 순회할 때 많이 씀

dict_items([('Champman', 'Graham'), ('Cleese', 'John'), ('Idle', 'James'), ('Jones', 'Terry'), ('Palin', 'Michael'), ('Hwa', 'Chloe')])

In [ ]:
list(pythons.keys())

['Champman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

In [ ]:
for k, v in pythons.items():
  print(f'{k} = {v}')

Champman = Graham
Cleese = John
Idle = James
Jones = Terry
Palin = Michael
Hwa = Chloe

In [ ]:
[(k, v) for k, v in pythons.items()]

[('Champman', 'Graham'),
 ('Cleese', 'John'),
 ('Idle', 'James'),
 ('Jones', 'Terry'),
 ('Palin', 'Michael'),
 ('Hwa', 'Chloe')]

In [ ]:
{k[0] for k in pythons.items()} #튜플이기 때문에 인덱싱 가능 [0] = key, [1]= value

{'Champman', 'Cleese', 'Hwa', 'Idle', 'Jones', 'Palin'}

In [ ]:
[k for k in pythons] #키

['Champman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

### ex
- animal: num_leg 딕셔너리

In [ ]:
animal = 'cat snake monkey ant spider'.split()
legs = 4, 0, 2, 4, 8

In [ ]:
#1
num_leg = {}
for i in range(len(animal)):
  num_leg[animal[i]] = legs[i]

In [ ]:
num_leg

{'ant': 4, 'cat': 4, 'monkey': 2, 'snake': 0, 'spider': 8}

In [ ]:
#2
num_leg2 = {}
for x, y in zip(animal, legs):
  num_leg2[x] = y

In [ ]:
num_leg2

{'ant': 4, 'cat': 4, 'monkey': 2, 'snake': 0, 'spider': 8}

#### Q.pythons 에서 성:이름, 성 첫글자, 이름 글자 개수 로 이루어진 튜플
(성, 이름) 리스트로 변환하기

In [ ]:
pythons.keys()

dict_keys(['Champman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa'])

In [ ]:
pythons.items()

dict_items([('Champman', 'Graham'), ('Cleese', 'John'), ('Idle', 'James'), ('Jones', 'Terry'), ('Palin', 'Michael'), ('Hwa', 'Chloe')])

In [ ]:
[(key[0], len(value)) for key, value in pythons.items()]

[('C', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 7), ('H', 5)]

###값 수정, 삭제, 복제, 비교

In [ ]:
pythons

{'Champman': 'Graham',
 'Cleese': 'John',
 'Hwa': 'Chloe',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael'}

In [ ]:
others = {
    'Marx':'Grouche',
    'Howard':'Moe'
}
others

{'Howard': 'Moe', 'Marx': 'Grouche'}

In [ ]:
#딕셔너리에 딕셔너리 추가 
pythons.update(others)

In [ ]:
pythons

{'Champman': 'Graham',
 'Cleese': 'John',
 'Howard': 'Moe',
 'Hwa': 'Chloe',
 'Idle': 'James',
 'Jones': 'Terry',
 'Marx': 'Grouche',
 'Palin': 'Michael'}

In [ ]:
#py 3에서만 가능
{**others, **pythons}

{'Champman': 'Graham',
 'Cleese': 'John',
 'Howard': 'Moe',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Marx': 'Grouche',
 'Narx': 'Grouche',
 'Palin': 'Michael'}

In [ ]:
#삭제1
del pythons['Hwa']
pythons

{'Champman': 'Graham',
 'Cleese': 'John',
 'Howard': 'Moe',
 'Idle': 'James',
 'Jones': 'Terry',
 'Marx': 'Grouche',
 'Palin': 'Michael'}

In [ ]:
del pythons['Lee'] #없는 걸 삭제하면 에러

KeyError: ignored

In [ ]:
#삭제2
pythons.pop('Marx')

'Grouche'

In [ ]:
pythons.pop('Lee', 0) #없으면 에러는 나지만, 예외 시 출력 값을 지정할 수 있다.

0

In [ ]:
#전체 삭제
pythons.clear()
pythons = {}

In [ ]:
pythons

{}

###복제
- 할당: b = a 
- 얕은 복사: c = a.copy()
- 깊은 복사: deepcopy()

In [ ]:
a = {1:1, 2:2, 3:3}
b = a
a[1] = 45
a, b #a가 변하면 b도 변함

({1: 45, 2: 2, 3: 3}, {1: 45, 2: 2, 3: 3})

In [ ]:
#얕은 복사
c = a.copy()
a[2] = 22
a, c #a가 변해도 c는 그대로

({1: 45, 2: 22, 3: 3}, {1: 45, 2: 2, 3: 3})

In [ ]:
a = {1: [1, 2, 3], 2:[2, 3, 4]}
d = a.copy()
a[1][0] = 100
a, d

({1: [100, 2, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

In [ ]:
#깊은 복사
import copy
e = copy.deepcopy(a)
a[1][1] = 999
a, e

({1: [100, 999, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

###비교
- 같다, 다르다만 된다

In [ ]:
a != b

True

### EX
1. 두 리스트로 하나의 딕셔너리 생성
2. 명왕성 = pluto 추가하기
3. '성'으로 끝나지 않는 키 삭제하기 (del dict[태양] x)
4. sorted 이용해서 값 정렬하기 i)key, ii)vlaue

In [ ]:
solar_kor = '태양 수성 금성 지구 화성 목성 토성 천왕성 해왕성'.split()
solar_eng = 'sun mercury venus earth mars jupiter saturn uranus neptune'.split()

In [ ]:
new_solar = {}
for i in range(len(solar_kor)):
  new_solar[solar_kor[i]] = solar_eng[i]
new_solar['명왕성'] = 'pluto'
for k in list(new_solar):
  if not k.endswith('성'):
    del new_solar[k]

In [ ]:
new_solar

{'금성': 'venus',
 '명왕성': 'pluto',
 '목성': 'jupiter',
 '수성': 'mercury',
 '천왕성': 'uranus',
 '토성': 'saturn',
 '해왕성': 'neptune',
 '화성': 'mars'}

In [ ]:
system = {}
for k, v in zip(solar_kor, solar_eng):
  system[k] = v

In [ ]:
system['명왕성'] = 'pluto'

In [ ]:
system

{'금성': 'venus',
 '명왕성': 'pluto',
 '목성': 'jupiter',
 '수성': 'mercury',
 '지구': 'earth',
 '천왕성': 'uranus',
 '태양': 'sun',
 '토성': 'saturn',
 '해왕성': 'neptune',
 '화성': 'mars'}

In [ ]:
dict([(k, v) for k, v in system.items() if k[-1] == ('성')])

{'금성': 'venus',
 '명왕성': 'pluto',
 '목성': 'jupiter',
 '수성': 'mercury',
 '천왕성': 'uranus',
 '토성': 'saturn',
 '해왕성': 'neptune',
 '화성': 'mars'}

In [ ]:
dict([(k, system[k]) for k in system if k[-1] == ('성')])

{'금성': 'venus',
 '명왕성': 'pluto',
 '목성': 'jupiter',
 '수성': 'mercury',
 '천왕성': 'uranus',
 '토성': 'saturn',
 '해왕성': 'neptune',
 '화성': 'mars'}

In [ ]:
{k: v for k, v in system.items() if k. endswith('성')} #딕셔너리 컴프리헨션

{'금성': 'venus',
 '명왕성': 'pluto',
 '목성': 'jupiter',
 '수성': 'mercury',
 '천왕성': 'uranus',
 '토성': 'saturn',
 '해왕성': 'neptune',
 '화성': 'mars'}

####컴프리핸션

In [ ]:
letter = 'apple'
#a: 1, p:2, ...
{ch: letter.count(ch) for ch in letter}

{'a': 1, 'e': 1, 'l': 1, 'p': 2}

In [ ]:
#단어 모음 세기
vowels = 'aeiou'
word = 'onomatopoeia'

# vowels 순회
{k: word.count(k) for k in set(word) if k in vowels}
# word 순회
{v: word.count(v) for v in vowels if v in word}

{'a': 2, 'e': 1, 'i': 1, 'o': 4}

####sorting

In [ ]:
sorted(system) #키만 출력

['금성', '명왕성', '목성', '수성', '지구', '천왕성', '태양', '토성', '해왕성', '화성']

In [ ]:
def fx(x):
  return x[1] #0: 키, 1: 값

In [ ]:
sorted(system.items(), key= fx)

[('지구', 'earth'),
 ('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mercury'),
 ('해왕성', 'neptune'),
 ('명왕성', 'pluto'),
 ('토성', 'saturn'),
 ('태양', 'sun'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

In [ ]:
sorted(system.items(), key=lambda x: x[0]) #lambda: 익명함수

[('금성', 'venus'),
 ('명왕성', 'pluto'),
 ('목성', 'jupiter'),
 ('수성', 'mercury'),
 ('지구', 'earth'),
 ('천왕성', 'uranus'),
 ('태양', 'sun'),
 ('토성', 'saturn'),
 ('해왕성', 'neptune'),
 ('화성', 'mars')]

### Set
- '중복이 없다'
- 집합 => 교집합, 합집합, 차집합, ...
- bag, 인덱싱도 없다

In [ ]:
empty = set()

In [ ]:
empty

set()

In [ ]:
a = {1, 2, 3} #값이 있을 때는 그냥 선언해도 o

In [ ]:
a

{1, 2, 3}

In [ ]:
a = set([1, 2, 3]) #선언, 형 변환

In [ ]:
a

{1, 2, 3}

In [ ]:
#추가
a.add(3)

In [ ]:
a

{1, 2, 3}

In [ ]:
a.add(4)

In [ ]:
a

{1, 2, 3, 4}

In [ ]:
#삭제
a.remove(4)
a

{1, 2, 3}

In [ ]:
drinks = {
    'martini': {'vodka','vermouth'},
    'black russian': {'vodka', 'kahlua'},
    'white russian': {'cream', 'kahlua','vodka'},
    'manhattan': {'rye', 'vermouth', 'bitters'},
    'screwdiver': {'orange juice', 'vodka'}
}

In [ ]:
drinks.items()

dict_items([('martini', {'vodka', 'vermouth'}), ('black russian', {'kahlua', 'vodka'}), ('white russian', {'kahlua', 'vodka', 'cream'}), ('manhattan', {'bitters', 'vermouth', 'rye'}), ('screwdiver', {'orange juice', 'vodka'})])

In [ ]:
#1
for k, v in drinks.items():
  if 'vodka' in v:
    print(k)

martini
black russian
white russian
screwdiver

In [ ]:
#2
for k, v in drinks.items():
  if 'vodka' in v:
    if 'cream' and 'vermouth' not in v:
      print(k)

black russian
white russian
screwdiver

In [ ]:
#1
for k, v in drinks.items():
  if 'vodka' in v:
    print(k)
#2
for k, v in drinks.items():
  if 'vodka' in v and not ('cream' in v or 'vermouth' in v):
      print(k)

martini
black russian
white russian
screwdiver
black russian
screwdiver

In [ ]:
a ={1, 2, 3}
b = {2, 3, 4}

#교집합| intersection
a.intersection(b)
a & b
#합집함| union
a.union(b)
a | b
#차집합| difference
a.difference(b)
a - b, b - a

({1}, {4})

In [ ]:
# set 활용해서 바꾸기
for k, v in drinks.items():
  if 'vodka' in v and not ('cream'in v or 'vermouth' in v):
    print(k)

black russian
screwdiver

In [ ]:
# set 활용해서 바꾸기
for k, v in drinks.items():
  if  v & {'vodka'}:
    print(k)

martini
black russian
white russian
screwdiver

In [ ]:
for k, v in drinks.items():
  if  v & {'vodka'} and not v & {'cream', 'vermouth'}:
  #if 'vodka' in v and not v & {'cream', 'vermouth'}
    print(k)

black russian
screwdiver

In [ ]:
#issubset
{s for s in range(5)}

{0, 1, 2, 3, 4}

In [ ]:
#forzenset #가변객체
set([1,2])
frozenset([1, 2])

frozenset({1, 2})